<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

    <div th:insert="/includes/head::head"></div>

<body>

<div class="top" >
    <a href="/polyclinic">Home Page</a>
    <a href="/polyclinic/profile">[[${currentUserPassport.getFullName}]]</a>
</div>

<div class="container">

    <div th:replace="/includes/header"></div>
    <div th:replace="/includes/nav"></div>

    <br/>

    <h2><a th:href="@{/user/{id}(id=${medicalCard.getOwner().getId()})}"> [[${medicalCard.getOwner().getPhoneNumber()}]]
    </a> medical card: </h2>

    <div class="new-diagnosis-block" th:if="${currentUserPassport.getUser().getRole ==
                T(by.kostopravov.polyclinic.dto.enums.Role).DOCTOR}">
        <button style="width:100px; padding:5px 10px" id="button-add-diagnosis" type="button"> Add new diagnosis </button>
        <form id="diagnosis-form" name="diagnosis-form" style="display:none">
            <hr>
            <label for="diagnosis-name" style="padding:5px 10px">Diagnosis name: </label>
            <br>
            <input type="text" id="diagnosis-name" style="padding:5px 10px"/>
            <br>
            <label for="diagnosis-description" style="padding:5px 10px">Diagnosis description: </label>
            <br>
            <textarea id="diagnosis-description" rows="5" cols="70" style="resize:none; padding:5px 10px"></textarea>
            <br>
            <button style="width:100px; padding:5px 10px" id="button-new-diagnosis" type="button"> Add </button>
        </form>
    </div>

<hr>

    <div class="all-diagnosis" th:each="i : ${#numbers.sequence(medicalCard.getDiagnosis().size() - 1, 0, -1)}"
         th:with="diagnosis=${medicalCard.getDiagnosis()[i]}">
        <div class="diagnosis">
            <p>Polyclinic department: [[${diagnosis.doctor.polyclinicDepartment.name}]]</p>
            <p>Date: [[${diagnosis.dateTime}]]</p>
            <p>Diagnosis: [[${diagnosis.name}]] </p>
            <p>Description: [[${diagnosis.description}]]</p>
        </div>
    </div>

</div>

<script>
    var patientId = [[${medicalCard.owner.id}]];
    var doctorId = [[${currentUserPassport.user.id}]];
</script>
    <script type="text/javascript" th:src="@{/js/diagnosis.js}"></script>
</body>
</html>