<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
Edit user with id: <p th:text="${userForEdit.getId}"></p>
<br/>
<br/>
<form th:method="POST" th:action="@{/user}" th:object="${userForEdit}">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" th:field="*{id}" id="userId"/>
  <input type="hidden" th:field="*{createdAt}" id="createdAt"/>
  <input type="hidden" th:field="*{password}" id="password"/>
  <label for="phoneNumber">Phone Number: </label>
  <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
  <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</div>
  <br/>
  <select name="role">
    <option th:each="userRole : ${T(by.kostopravov.polyclinic.dto.enums.Role).values()}" th:value="${userRole}" th:text="${userRole}"></option>
  </select>
  <br/>
  <select name="status">
    <option th:each="userStatus : ${T(by.kostopravov.polyclinic.dto.enums.Status).values()}" th:value="${userStatus}" th:text="${userStatus}"></option>
  </select>
  <br/>
  <input type="submit" value="OK"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>

</body>
</html>